<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<div class="BorderMargin">
  <form action="/led/on" method="post">
    <!--<button type="submit" formmethod="post" formaction="/led/on" class="button">LED On </button>-->
    <!--<button type="submit" formmethod="post" formaction="/led/off" class="button buttonOff">LED Off</button>-->
      <button id="left-btn" type="button" formmethod="post" formaction="/led/on" class="button">LED On </button>
      <button id="right-btn" type="button" formmethod="post" formaction="/led/off" class="button buttonOff">LED Off</button>
  </form>
  <a>Led Status: <%=status %></a>
</div>


<!-- The below code is only for look and styling -->
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.buttonOff {background-color: #f44336;} /* Red */

/*
.BorderMargin {
  
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
} 
*/  
</style>

<script>

//    $(function(){
//        var onAlert = function(){
//            console.log('Light on!');
//        };
//
//        var offAlert = function(){
//            console.log('Light off!');
//        };
//
//        $(document).keydown(function(e){
//            switch(e.key){
//                case 37:
//                    onAlert();
//                    break;
//                case 39:
//                    offAlert();
//                    break;
//            }
//        });
//
//        $('#left-btn').click(onAlert);
//
//        $('#right-btn').click(offAlert);
//    });

    $(function(){
        $('#left-btn').click(function(){
           console.log('left');
        });

        $('#right-btn').click(function(){
           console.log('right');
        });

        $(document).keydown(function(e){
            if(e.key == 37){
                $('#left-btn').click();
                return false
            }
            if(e.key == 39){
                $('#right-btn').click();
            }
        });
    });

</script>
